<div class="container p4">
        <div class="row">
            {{#each usuario}}

            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        {{id_servicio}}
                    </div>
                    <div class="card-body">
                        {{id_user}}
                    </div>
                    <p>{{fecha}}</p>
                </div
                >
            </div>

            {{/each}}
        </div>
</div>